absl-py==0.7.1
astor==0.7.1
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
boto==2.49.0
boto3==1.10.50
botocore==1.13.50
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
cloudpickle==1.2.2
cycler==0.10.0
Cython==0.29.13
decorator==4.4.0
defusedxml==0.6.0
docopt==0.6.2
docutils==0.15.2
entrypoints==0.3
future==0.18.0
gast==0.2.2
gensim==3.8.1
glfw==1.8.3
grpcio==1.20.1
gym==0.15.3
h5py==2.9.0
hjson==3.0.1
idna==2.8
imageio==2.5.0
ipykernel==5.1.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.3
Jinja2==2.10.1
jmespath==0.9.4
joblib==0.14.0
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyboard==0.13.4
kiwisolver==1.1.0
lockfile==0.12.2
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
mock==3.0.5
mujoco-py==2.0.2.5
nbconvert==5.5.0
nbformat==4.4.0
nltk==3.4.5
notebook==5.7.8
numpy==1.16.3
pandoc==1.0.2
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
pillow>=6.2.0
ply==3.11
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.7.1
ptyprocess==0.6.0
pybullet==1.9.5
pycparser==2.19
pygame==1.9.5
pyglet==1.3.2
Pygments==2.4.0
pyparsing==2.4.0
pyquaternion==0.9.5
pyrsistent==0.15.1
python-dateutil==2.8.0
PyYAML==5.1
pyzmq==18.0.1
qtconsole==4.4.4
requests==2.22.0
-e git+https://github.com/stanford-iprl-lab/robosuite.git@b19bcb347e870bb8f582129de1c9daccea997ce8#egg=robosuite
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.2.1
Send2Trash==1.5.0
six==1.12.0
smart-open==1.9.0
tensorboard==1.13.1
tensorboardX==1.6
tensorflow>=1.15.2
tensorflow-estimator==1.13.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
torch==1.4.0+cu92
torchvision==0.5.0+cu92
tornado==6.0.2
tqdm==4.42.0
traitlets==4.3.2
urllib3==1.25.7
wcwidth==0.1.7
webencodings==0.5.1
werkzeug>=0.15.3
widgetsnbextension==3.4.2
